/* Compass mixins */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Font Info */
/* line 1, partials/_token.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* line 8, partials/_token.scss */
.outer_wrapper {
  width: 100%;
  height: 100%;
}

/* line 13, partials/_token.scss */
.inner_wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  height: auto;
}

/* line 21, partials/_token.scss */
#where_you_at h1 {
  color: #fff;
  font-size: 20px;
  font-family: Verdana;
  margin: 2px 0;
}

/* line 30, partials/_token.scss */
.autotrack button {
  font-family: Verdana;
  font-size: 1.1em;
}
/* line 35, partials/_token.scss */
.autotrack em {
  font-size: 20px;
  color: #fff;
}
/* line 40, partials/_token.scss */
.autotrack p {
  margin: 0.5em;
}

/* line 46, partials/_token.scss */
#map_overlay {
  position: relative;
  background-color: #000;
  z-index: -1;
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

/* line 55, partials/_token.scss */
#scroll_message {
  font-family: 'Arial', sans;
  font-size: 1.1em;
  color: orange;
  margin-bottom: 0.5em;
  font-weight: bold;
  display: none;
}

/* line 64, partials/_token.scss */
#map_canvas {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin: 0 auto;
}

/* line 71, partials/_token.scss */
.list_loc {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding: 5px 0 0 20px;
  margin-bottom: 5px;
}

/* line 79, partials/_token.scss */
#search_results_wrapper {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0 0 .5em 0;
  display: none;
}
/* line 87, partials/_token.scss */
#search_results_wrapper .within span {
  font-family: Verdana;
  font-size: 1.2em;
  color: #fff;
}

/* line 97, partials/_token.scss */
#search_results {
  padding-top: .1em;
  font-family: Arial;
  font-size: 14px;
  width: 95%;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: left;
}

/* line 108, partials/_token.scss */
#search_results p.loc_name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 114, partials/_token.scss */
#search_results p {
  margin: 0;
  padding: 0;
}

/* line 119, partials/_token.scss */
input.rounded {
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  color: #444;
  font-family: Arial;
  padding: 4px 7px;
  width: 93%;
}

/* line 130, partials/_token.scss */
input.rounded:focus {
  border-color: #339933;
}

/* line 134, partials/_token.scss */
div.buttonholder {
  width: 160px;
  margin: 0.5em auto;
  display: none;
}

/* line 140, partials/_token.scss */
#findatoken {
  font-size: 1.1em;
}

/* line 144, partials/_token.scss */
.radius_select {
  width: 140px;
  /* height: 75px; */
  font-family: Verdana;
  font-size: 1.5em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #666;
}

/* line 153, partials/_token.scss */
.refresh_list {
  font-family: Verdana;
  font-size: 1.5em;
}

/* line 158, partials/_token.scss */
.toDirections {
  float: right;
  position: relative;
  top: -45px;
  font-size: 2.5em;
  color: #606bd2;
  cursor: pointer;
}

/* line 167, partials/_token.scss */
.locations_found {
  text-align: center;
  margin: 0 auto;
  margin-top: .3em;
}
