/* Compass mixins */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.8.7-p358/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Font Info */
/* line 1, partials/_token.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* line 8, partials/_token.scss */
.outer_wrapper {
  width: 100%;
  height: 100%;
}

/* line 13, partials/_token.scss */
#fade {
  background: #000;
  position: fixed;
  zoom: 1;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  display: none;
}

/* line 24, partials/_token.scss */
#fade_loading_img {
  position: relative;
  z-index: 1100;
  margin: 0 auto;
  width: 100px;
}

/* line 31, partials/_token.scss */
.inner_wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  height: auto;
}

/* line 39, partials/_token.scss */
#where_you_at h1 {
  color: #fff;
  font-size: 20px;
  font-family: Verdana;
  margin: 2px 0;
}

/* line 48, partials/_token.scss */
.autotrack button {
  font-family: Verdana;
  font-size: 1.1em;
}
/* line 53, partials/_token.scss */
.autotrack em {
  font-size: 1em;
  font-family: Verdana;
  color: #fff;
}
/* line 59, partials/_token.scss */
.autotrack p {
  margin: 0.5em;
}

/* line 65, partials/_token.scss */
#map_overlay {
  position: relative;
  background-color: #000;
  z-index: -1;
  width: 85%;
  height: 260px;
  margin: 0 auto;
}

/* line 74, partials/_token.scss */
.loc_lat, .loc_lon {
  display: none;
}

/* line 76, partials/_token.scss */
#scroll_message {
  font-family: 'Arial', sans;
  font-size: 1.1em;
  color: orange;
  margin-bottom: 0.5em;
  font-weight: bold;
  display: none;
}

/* line 85, partials/_token.scss */
#map_canvas {
  height: 250px;
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
}

/* line 92, partials/_token.scss */
.list_loc {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding: 5px 0 0 20px;
  margin-bottom: 5px;
}
/* line 98, partials/_token.scss */
.list_loc p {
  cursor: pointer;
}

/* line 101, partials/_token.scss */
#search_results_wrapper, #directionsPanel {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0 0 .5em 0;
  display: none;
}
/* line 109, partials/_token.scss */
#search_results_wrapper .within span, #directionsPanel .within span {
  font-family: Verdana;
  font-size: 1.2em;
  color: #fff;
}

/* line 119, partials/_token.scss */
#search_results {
  padding-top: .1em;
  font-family: Arial;
  font-size: 14px;
  width: 95%;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: left;
}

/* line 130, partials/_token.scss */
#search_results p.loc_name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 136, partials/_token.scss */
#search_results p {
  margin: 0;
  padding: 0;
}

/* line 141, partials/_token.scss */
input.rounded {
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  color: #444;
  font-family: Arial;
  padding: 4px 7px;
  width: 93%;
}

/* line 152, partials/_token.scss */
input.rounded:focus {
  border-color: #339933;
}

/* line 156, partials/_token.scss */
div.buttonholder {
  width: 160px;
  margin: 0.5em auto;
  display: none;
}

/* line 162, partials/_token.scss */
#findatoken {
  font-size: 1.1em;
}

/* line 166, partials/_token.scss */
.radius_select {
  width: 140px;
  font-family: Verdana;
  font-size: 1.5em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #666;
}

/* line 174, partials/_token.scss */
.refresh_list {
  font-family: Verdana;
  font-size: 1.5em;
}

/* line 179, partials/_token.scss */
.toDirections {
  float: right;
  position: relative;
  top: -45px;
  font-size: 2.5em;
  color: #606bd2;
}

/* line 187, partials/_token.scss */
.locations_found {
  text-align: center;
  margin: 0 auto;
  margin-top: .3em;
}

/* line 193, partials/_token.scss */
#directionsPanel {
  display: none;
  background-color: #fff;
  font-family: Verdana;
  margin: 0 auto;
  margin-top: 2.2em;
}
