/* line 17, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /home/joe/sites/tokenFinder/css/partials/_token.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* line 8, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.outer_wrapper {
  width: 100%;
  height: 100%;
}

/* line 13, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.inner_wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  height: auto;
}

/* line 21, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#where_you_at h1 {
  color: #fff;
  size: 20px;
  font-family: Arial;
  margin-bottom: 2px;
  margin-top: 2px;
}

/* line 29, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.autotrack button {
  font-family: 'Arial', sans;
  font-size: 1.1em;
}

/* line 34, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.autotrack em {
  font-size: 20px;
  color: #fff;
}

/* line 39, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.autotrack p {
  margin: 0.5em;
}

/* line 43, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#map_overlay {
  position: relative;
  background-color: #000;
  z-index: -1;
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

/* line 52, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#scroll_message {
  font-family: 'Arial', sans;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  display: none;
}

/* line 60, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#map_canvas {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin: 0 auto;
}

/* line 67, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.list_loc {
  padding-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}

/* line 73, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#search_results_wrapper {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0 0 .5em 0;
  display: none;
}

/* line 80, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#search_results {
  font-family: Arial;
  font-size: 14px;
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  text-align: left;
}

/* line 90, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#search_results p.loc_name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 96, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#search_results p {
  margin: 0;
  padding: 0;
}

/* line 101, /home/joe/sites/tokenFinder/css/partials/_token.scss */
input.rounded {
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  color: #444;
  font-family: Arial;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
  width: 93%;
}

/* line 118, /home/joe/sites/tokenFinder/css/partials/_token.scss */
input.rounded:focus {
  border-color: #339933;
}

/* line 122, /home/joe/sites/tokenFinder/css/partials/_token.scss */
div.buttonholder {
  width: 160px;
  margin: 0.5em auto;
  display: none;
}

/* line 128, /home/joe/sites/tokenFinder/css/partials/_token.scss */
#findatoken {
  font-size: 1.1em;
}

/* line 132, /home/joe/sites/tokenFinder/css/partials/_token.scss */
.radius_select {
  width: 130px;
  /* height: 75px; */
  font-family: Verdana;
  font-size: 1.5em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #666;
}
