html, body {
    width: 100%;
    height: 100%;
}

.fade {
    background: #fff;
    position: fixed;
    zoom: 1;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1000;
    display: none; 
}

.fade_loading_img {
    position: relative;
    z-index: 1100;
    margin:0 auto;
    width: 100px;
}

#where_you_at {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: .25em;
}

.autotrack {
    text-align: center;
    font-weight: bold;
}

body {
    background: #f0f0f0;
}

#page_one, #page_two {
    position: relative;
    width: 96%;
    margin: 0 auto;
}

#map_canvas {
    height: 265px;
}

#locationMap {
    width: 100%;
    height: 265px !important;
    margin: 0 auto;
    margin-top: 35px;
}

.buttonholder {
    display: none;
}

.adp-directions {
    width: 100%;
}

#search_results_wrapper, #scroll_message {
    display: none;
}

#scroll_message {
    text-align: center;
    padding: .5em;
    font-weight: bold;
    color: orange;
}

.within {
    text-align: center;
    padding: .5em;
    font-weight: bold;
}

.toDirections {
    float: right;
    margin-top: -2.5em;
    position: relative;
    right: .5em;
    color: #606bd2;
}

.locations_found {
    text-align: center;
    font-weight: bold;
}

div.list_loc {

    border-bottom: 1px solid gray;
    padding-top: .35em;
    padding-bottom: .35em;
    padding-left: .5em;

    a { 
        text-decoration: none;
        color: #000;
    }

    .loc_name {
        font-size: 1.15em;
        font-weight: bold;
    }
 
    .loc_address {
        color: #444; 
    }
 
    .loc_distance {
        color: #444;    
        font-size: .95em;
    }
 
    .loc_hours {
        color: #444;
    }

    .spanblock {
        display: block;
    }
}

.zebra {
    background-color: #F7F8FF;
}

.backBar {
    position: fixed;
    top: 0;
    width: 96%;
    height: 35px;
    background: #eee;
    border-bottom: 1px solid #ccc;
    z-index: 10;
    a { 
        margin-left: 1.25em;
        margin-top: .5em;
        display: block;
        text-decoration: none;
    }
}
