html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	background-color:#000; 
}

.outer_wrapper {
	width: 100%;
	height: 100%;
}

#fade {
    background: #000;
    position: fixed;
    zoom: 1;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1000;
    display: none; 
}

#fade_loading_img {
    position: relative;
    z-index: 1100;
    margin:0 auto;
    width: 100px;
}

.inner_wrapper {
	width: 320px;
	margin: 0 auto;
	text-align: center;
	background-color: #000;
	height: auto;
}

#where_you_at h1 {
	color: #fff;
	font-size: 20px;
	font-family: $defaultFont;
    margin: 2px 0;
}

.autotrack {
    
    button {
	    font-family: $defaultFont;
	    font-size: 1.1em;
    }
    
    em {
	    font-size: 1em;
	    font-family: $defaultFont;
	    color: #fff;
    }

    p {
	    margin: 0.5em;
    }

}

#map_overlay {
	position: relative;
	background-color: #000;
	z-index: -1;
    width: 100%;
	height: 260px;
	margin: 0 auto;
}

.loc_lat, .loc_lon { display: none; }

#scroll_message {
	font-family: 'Arial', sans;
	font-size: 1.1em;
	color: $alertTextOrange;
    margin-bottom: 0.5em;
	font-weight: bold;
	display: none;
}

#map_canvas { 
	height: 250px; 
	width: 100%;
	margin-top: 10px; 
	margin: 0 auto;
}

.list_loc {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 5px 0 0 20px;
    margin-bottom: 5px;
    p { cursor: pointer;  }
}

#search_results_wrapper {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0 0 .5em 0;
  display: none;
  
  .within {
    
    span {
        font-family: $defaultFont;
        font-size: 1.2em;
        color: #fff;
    }

  }

}

#search_results {
    padding-top: .1em;
    font-family: Arial;
    font-size: 14px;
    width: 95%;
    background-color: #fff;
    @include border-radius(10px);
    margin: 0 auto;
    text-align: left;
}

#search_results p.loc_name {
    font-weight: bold;
    margin:0;
    padding:0;
}

#search_results p {	
    margin:0;
    padding:0;
}

input.rounded {
	border: 1px solid #ccc;
    @include border-radius(10px);
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	color: #444;
	font-family: Arial;
	padding: 4px 7px;
	width: 93%;
}

input.rounded:focus {
	border-color: $greenBorder;
}

div.buttonholder {
	width: 160px;
	margin: 0.5em auto;
	display: none;
}

#findatoken {
	font-size: 1.1em;
}

.radius_select {
	width: 140px;
	font-family: $defaultFont;
	font-size: 1.5em;
	border: 1px solid #ccc;	
	box-shadow: 2px 2px 3px #666;
}

.refresh_list {
    font-family: $defaultFont;
    font-size: 1.5em;
}

.toDirections {
    float: right;
    position: relative;
    top: -45px;
    font-size: 2.5em;
    color: #606bd2;
}

.locations_found {
    text-align: center;
    margin: 0 auto;
    margin-top: .3em;
}

#directionsPanel {
    @extend #search_results_wrapper;
    display: none; 
    background-color: #fff;
	font-family: $defaultFont;
    margin: 0 auto;
    margin-top: 1em;
}
